.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 64rem;
    padding: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;

}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}
