.cellShell {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex: 0 0 144px;
    width: 144px;
    height: 72px;
    transition: transform 0.15s ease;
    position: relative;
}

.cellShell:hover > div {
    filter: brightness(0.9);
}

.dragging > div {
    background-color: #d1d5db;
    filter: none;
}
